<div id="<%= dom_id student %>">
  <p>
    <h4><strong><%= student.nickname %></strong></h4>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= student.bio %>
  </p>

  <p>
    <%= cl_image_tag student.photo.key, width: 400, crop: :fill if student.photo.key %>
  </p>

</div>
