<div class="container m-3">
  <p style="color: green"><%= notice %></p>

  <h1>Students of Batch #1690 🙉</h1>

  <div id="students">
    <% @students.each do |student| %>
      <%= link_to student, class: 'text-decoration-none' do %>
        <div class="card m-4 p-3">
          <%= render student %>
        </div>
      <% end %>
      <p>
      </p>
    <% end %>
  </div>

  <%= link_to "New student", new_student_path %>
</div>
