<div class="container m-3">
  <p style="color: green"><%= notice %></p>

<div class="card-category"
  style="height: 400px;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dk5glvhr6/image/upload/fl_preserve_transparency/v1716539756/students_m3anmp.jpg?_s=public-apps')"
>
  <h1 class="text-white">Students of Batch #1690 🙉</h1>
</div>



  <div id="students">
    <% @students.each do |student| %>
      <%= link_to student, class: 'text-decoration-none' do %>
        <div class="card m-4 p-3">
          <%= render student %>
        </div>
      <% end %>
      <p>
      </p>
    <% end %>
  </div>

  <%= link_to "New student", new_student_path %>
</div>
